name: Build Android APK

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
      
    - name: Build with Kivy Docker image
      run: |
        docker run --rm \
          -v $PWD:/src \
          -w /src \
          kivy/kivy:latest \
          bash -c "pip install buildozer && buildozer -v android debug"
        
    - name: Upload APK
      uses: actions/upload-artifact@v4
      with:
        name: Kivy-APK
        path: bin/*.apk