name: Build Android APK

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
      
    - name: Build with Kivy Android GitHub Action
      uses: kivy/android-action@v1
      with:
        requirements: python3,kivy==2.3.0,kivymd==1.2.0,plyer,yt-dlp,python-dateutil,urllib3
        package: org.rameez.kivyapp
        name: KivyApp
        version: 1.0
        
    - name: Upload APK
      uses: actions/upload-artifact@v4
      with:
        name: Kivy-APK
        path: bin/*.apk