name: Build Kivy APK

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repo
      uses: actions/checkout@v4

    - name: Install system dependencies (fix libffi/autoconf errors)
      run: |
        sudo apt update
        sudo apt install -y \
          automake \
          autoconf \
          libtool \
          pkg-config \
          build-essential \
          clang \
          cmake \
          libffi-dev \
          zip unzip \
          python3-pip python3-setuptools python3-venv

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: "3.10"

    - name: Install Buildozer & Python deps
      run: |
        pip install --upgrade pip
        pip install buildozer cython virtualenv

    - name: Build APK
      run: |
        buildozer android debug
      continue-on-error: false

    - name: Upload APK
      uses: actions/upload-artifact@v4
      with:
        name: Kivy-APK
        path: bin/*.apk
